<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="static/css/bootstrap.css"/> 
<title>Some URL shortener</title>
</head>
<body style="padding-top:20px;">
<div class="container">
{% if error is defined %}
<div class="alert alert-error">
{{error}}
</div>
{% endif  %}
<div class="hero-unit">
    <h1>Some URL shortener</h1>
    <p>Running on a long domain name...?</p>
    <div class="form-inline">
        <noscript>
            <form id="shortener" class="form-inline" action="/shortener" method="post">
            <input type="text" name="url" placeholder="long url">
            <button type="submit" class="button">Shorten!</button>
            </form>
        </noscript>
        <input id="longurl" type="text" name="url" placeholder="long url" style="display:none;">
        <a id="submitasync" class="btn btn-primary btn-large" style="display:none;" onclick="require('shortener').shorten()">Shorten!</a>
    </div>
    <div class="alert alert-info" style="margin-top: 15px;"><aside>Put in an already shortened URL to see where it redirects to ;)</aside></div>
</div>
<div id="shortened" {{ "style=display:none;" if not shorturl }}  class="alert alert-success">
<ul>
{% if shorturl is defined and longurl is defined %}
    <li><span>{{shorturl}}</span><span>   =>   </span><span>{{longurl}}</span></li>
{% endif %}
</ul>
</div>
<footer>Copyright Lewis Diamond 2012. Feel free to steal all the code anyways.</footer>
</div>
<script src="{{ender}}" type="text/javascript"></script>
<script src="{{shortener}}" type="text/javascript"></script>
</body>
</html>
